
*.pdf
*.vscode
/DIWALI-BONUS/NODE-API/node_modules/
ASSIGNMENT-1/WPT-Assignment-1.pdf
ASSIGNMENT-2/Rohit-Magar.doc.pdf
ASSIGNMENT-2/WPT-Assignment-2.pdf
ASSIGNMENT-3/WPT-Assignment-3.pdf
ASSIGNMENT-4/WPT-Assignment-4.pdf
ASSIGNMENT-6/WPT-Assignment-6.pdf
jQuery.pdf
WPT-Interview-Questions-Set-1.pdf
WPT-Interview-Questions-Set-2.pdf

ASSIGNMENT-1/.vscode
ASSIGNMENT-3/.vscode
WEBISTAAN/.vscode

node_modules/
/DIWALI-BONUS